<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/timelinePage.css">
    <link rel="shortcut icon" href="http://www.iconj.com/ico/p/r/prqt9qshot.ico" type="image/x-icon" />

    <title>Tidslinje</title>
</head>
<body>

<!-- Navbar -->
<div class = "row" id="header">
    <div class = "col-lg-1 text-center" id="logo">
        <img src="/images/trippin-logo.png" id="logo_img">
    </div>
    <div class = "col-lg-8 text-center break-text"></div>
    <div class = "col-lg-1 text-center" id="aboutPage">
        <span><h4 class="canBeClicked"><a data-toggle="modal" data-target="#aboutModal"  id="noUnder"><b>Om</b></a></h4></span>

        <!-- About us modal -->
        <div class="modal fade" id="aboutModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><b>Trippin</b></h4>
                    </div>
                    <div class="popup" id="aboutPopup">
                        <h4> Hva er Trippin?</h4>
                        <p>
                            Trippin er et reiseplanleggingsverktøy som har som hovedfunksjon å vise brukeren hvor ulike reisemål man måtte ønske å besøke ligger i forhold til hverandre.
                            De fleste “anbefalte reisemål”-guider gir ikke noen oversikt over dette.. Det er mulig å dele turer med andre brukere slik at man kan planlegge en reise sammen. blabla..
                        </p>
                        <h4> Hvordan bruke Trippin?</h4>
                        <p>
                            For å kunne bruke Trippin må du først opprette deg en bruker, og logge inn. Ved inlogging vil du bli tatt til din side der du kan se alle
                            turene du har tilgang til, det vil si de turene du er med å planlegge. For å opprette en ny tur, benytt "Opprett ny tur". Når du oppretter en ny tur, eller klikker deg inn på en eksisterende,
                            tas du til en side med et kart som viser alle punktene tilknyttet den valgte turen. blabla...
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default cancel-btn" data-dismiss="modal">Lukk</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End modal -->

    </div>
    <div class = "col-lg-1 text-center canBeClicked" id="trips">
        <span><h4><b id="myTripsBut" class="canBeClicked">Mine turer</b></h4></span>
        <div class="trips-content scrollbar break-text" id="myTrips">

        </div>
    </div>
    <div class = "col-lg-1 text-center" id="user">
        <span><h4 id="userName"></h4></span>
        <div class="user-content canBeClicked">
            <div>
                <a onclick="backToTrip()">Mine turer</a>
            </div>
            <div>
                <a onclick="logOut()" href="/views/index.html">Logg ut</a>
            </div>
        </div>
    </div>
</div>
<!-- End navbar -->

<!-- Timeline -->
<div class = "row" id="body">
    <div class = "col-lg-12 text-center" id="timeContainer">
        <h2 id = timeHead></h2>
        <table id="timeTable1">
            <!--thead><th colespan="" id="timeHead"></th></thead-->
            <tbody id="tableBody">
            <tr id="days1" class="topRow">
                <td class="rowInfo">Dag</td>
            </tr>
            <tr id="hotels1" class="hotels">
                <td class="rowInfo">Hotell</td>
            </tr>
            <tr id="restaurants1" class="restaurants">
                <td class="rowInfo">Spise</td>
            </tr>
            <tr id="todo1" class="todo">
                <td class="rowInfo">Gjøre</td>
            </tr>
            </tbody>
        </table>

        <!--
        <table id="timeTable2" class="hideTable">
            <tbody id="tableBody2">
            <tr id="days2">
                <td class="rowInfo">Dag</td>
            </tr>
            <tr id="hotels2">
                <td class="rowInfo">Hotell</td>
            </tr>
            <tr id="restaurants2">
                <td class="rowInfo">Spise</td>
            </tr>
            <tr id="todo2">
                <td class="rowInfo">Gjøre</td>
            </tr>
            </tbody>
        </table>

        <table id="timeTable3" class="hideTable">
            <tbody id="tableBody3">
            <tr id="days3">
                <td class="rowInfo">Dag</td>
            </tr>
            <tr id="hotels3">
                <td class="rowInfo">Hotell</td>
            </tr>
            <tr id="restaurants3">
                <td class="rowInfo">Spise</td>
            </tr>
            <tr id="todo3">
                <td class="rowInfo">Gjøre</td>
            </tr>
            </tbody>
        </table>
        -->

    </div>
</div>



<!-- End timeline -->


<!-- Scripts -->
<script src = "/javascripts/url.js"></script>
<script src = "/javascripts/user.js"></script>
<script src = "/javascripts/trip.js"></script>
<script src = "/javascripts/point.js"></script>
<script src = "/javascripts/loginPage/logIn.js"></script>
<script src = "/javascripts/timeline.js"></script>

</body>
</html>