<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
</head>
<body>

<div class="container">
    <div class = "row" id="header">
        <div class = "col-lg-1 text-center" id="logo">
            <img src="/images/trippin-logo.png" id="logo_img">
        </div>
        <div class = "col-lg-8 text-center"></div>
        <div class = "col-lg-1 text-center" id="aboutPage">
            <span><h4><b>Om</b></h4></span>
        </div>
        <div class = "col-lg-1 text-center" id="trips">
            <span><h4><b>Mine turer</b></h4></span>
            <div class="trips-content">
                Miami
                Vietnam
            </div>
        </div>
        <div class = "col-lg-1 text-center" id="user">
            <span><h4><b>Bruker</b></h4></span>
            <div class="user-content">
                <div>
                    Min turer
                </div>
                <div>
                    Innstillinger
                </div>
                <div>
                    Logg ut
                </div>
            </div>
        </div>
    </div>
    <div class = "row" id="content">
        <div class = "col-lg-2 text-center" id="sidebar">
            <div class = "row" id="sidebar_content">
                <div class = "row" id="trip_heading">
                    <div class = "col-lg-8 text-center">
                        <h2>Reisenavn</h2>
                    </div>
                    <div class = "col-lg-3 text-center" id="img_col">
                        <span id="img_helper"><img src="/images/info.png" id="info_img"></span>
                    </div>
                    <div class = "col-lg-1 text-center"></div>
                </div>

                <p id="hotels"><b>Hoteller</b></p>
                <ul id="hotels_list">
                    <li>Hostell</li>
                    <li>Fancy hotell</li>
                    <li>AirBNB</li>
                </ul>
            </div>
            <div class = "row" class="buttons">
                <button type="save"><b>Lagre punkt</b></button>
            </div>
            <div class = "row" class="buttons">
                <button type="save"><b>Del tur</b></button>
            </div>
        </div>
        <div class = "col-lg-10 text-center" id="map">
            <!--<iframe src="/maps/api.html">

            </iframe>-->
        </div>

    </div>

</div>

<script src = "/javascripts/user.js"></script>

<script>
    $(document).ready(function(){
        $("#hotels").click(function(){
            $("hotels_list").show();
        });
    });
</script>

</body>
</html>