<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGGAJlEFnuZU1VFwi8Iv-jfRk5du9a2P4&libraries=places"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">

</head>
<body>

<div class="container">

    <!-- Navbar -->
    <div class = "row" id="header">
        <div class = "col-lg-1 text-center" id="logo">
            <img src="/images/trippin-logo.png" id="logo_img">
        </div>
        <div class = "col-lg-8 text-center"></div>
        <div class = "col-lg-1 text-center" id="aboutPage">
            <span><h4 class="canBeClicked"><a data-toggle="modal" data-target="#aboutModal"><b>Om</b></a></h4></span>

            <!-- About us modal -->
            <div class="modal fade" id="aboutModal" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Trippin</h4>
                        </div>
                        <div class="popup">
                            <p>Her skal det stå en fantastisk tekst om oss</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Lukk</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End modal -->

        </div>
        <div class = "col-lg-1 text-center canBeClicked" id="trips">
            <span><h4><b>Mine turer</b></h4></span>
            <div class="trips-content">

            </div>
        </div>
        <div class = "col-lg-1 text-center" id="user">
            <span><h4><b id="userName"></b></h4></span>
            <div class="user-content canBeClicked">
                <div>
                    Min turer
                </div>
                <div>
                    Innstillinger
                </div>
                <div>
                    Logg ut
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>