html, body{
    height: 100%;
    margin: 0px;
    padding: 0px;
}
.modal-header{
    background-color: #ffcc99;
    border-bottom: 20px;
}

*{
    font-family: Raleway, Arial;
}

h4{
    font-weight: bold;
}

#namePointEdit, #namePoint, #datepickerEdit, #datepicker, #addressPointEdit, #addressPoint, #commentPointEdit, #commentPoint, #websitePointEdit, #websitePoint{
    width: 66%;
    vertical-align: top;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}
#commentPointEdit, #commentPoint{
    height: 300px;
}

.popupHeader{
    width: 100%;

}

.popupName{
    text-align: center  ;
    margin: 10px;
    font-weight: bold;
}

.myline{
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%
}

.dateBox{
    width: 50%;
    float: left;
    margin-bottom: 10px;

}

.addedByBox{
    width: 50%;
    float: right;
    margin-bottom: 10px;
}

.deleteButton{
    float:right;
    background-color: #f2f2f2;
    width: 40%;
    box-shadow: none;
}

.editButton{
    float: left;
    background-color: #f2f2f2;
    width: 40%;
    box-shadow: none;
}

.submit-btn{
    float: right;
    background-color: #f2f2f2;
    width: 30%;
}

.cancel-btn{
    float: left;
    background-color: #f2f2f2;
    width: 30%;
    margin: 0;
}

.popup-list-left{
    text-align: right;
    vertical-align: top;
}

.deleteButton:hover, .editButton:hover, .submit-btn:hover, .cancel-btn:hover{
    box-shadow: none;
}


#mapid {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    Z-index: 0;
}

#logo_img{
    height: 50px;
}

.break-text{
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

#header{
    background-color: #ff9966;
    margin: 0px;
    padding:10px;
    width: 100%;
    height: 10%;
    min-height: 77px;
}

.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#user, #trips, #aboutPage {
    text-align: center;
    border: 2px dashed #f69c55;
}

#tripName{
    word-wrap:break-word ;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

#content{
    margin: 0px;
    height: 90%;
}

#sidebar{
    background-color: #ffcc99;
    height: 100%;
}

#map{
    padding: 0px;
    height: 100%;
}


iframe{
    width: 100%;
    height: 100%;
}

.user-content, .trips-content {
    display: none;
    position: absolute;
    background-color: #ffbf80;
    max-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.tripClick:hover{

    text-decoration: underline;
}


#user:hover .user-content, #trips:hover .trips-content {
    display: block;
}

p, li{
    text-align: left;
}

#info_img{
    height: 20px;
    vertical-align: bottom;
    margin-top: 27px;
}



#trip_heading{
    text-align: center;
    height: 75px;
}

#img_helper {
    display: inline-block;
    height: 100%;
    vertical-align: bottom;
}

#searchBox{
    width: 300px;
}

.leaflet-popup{
}

.leaflet-popup-content{
    display:inline-block;
    min-width: 300px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

button{
    background-color: #ff9933;
    border: solid #ff6600;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    float: left;
    width: 80%;
    margin: 5px 10px;
    padding: 20px 6px;
}

button:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.saveButton{
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;

}
.refreshUpdateText{
    font-style: italic;
    text-align: center;
    color:#b3b3b3;
}


#sidebar_content{
    height: 80%;
}

.canBeClicked:hover{
    cursor: pointer;
}

.categories{
    padding: 0px 10px;
}

#popComment{
    max-height: 250px;
    width: 320px;
    white-space: pre-wrap;
    overflow-y: auto;
}


ul{
    display: none;
}

#sidebar_nav{
    height: 80%;
    width: 100%;
    float:left;
}
.sidebar-trip-name{
    width:100%;
}

#myTrips{
    height: 500px;
}

.scrollbar{
    overflow-y:auto;
}


.form{
    width: 20%;
    text-align: right;
    padding-right: 10px;
    vertical-align: top;
}

a{
    color: black;
    text-decoration: none;
}

.popup{
    padding: 10px;
}

.search-input {
    font-family: Courier
}

.search-input,
.leaflet-control-search {
    max-width: 400px;
}

.pointClick{
    color: dimgrey;
}




